version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: travelagent_web
    command: python config/manage.py runserver 0.0.0.0:8000
    ports:
      - "80:8000"
    environment:
      DEBUG: "1"
      ALLOWED_HOSTS: "*"
      DJANGO_SETTINGS_MODULE: "config.settings"
    env_file:
      - .env
    volumes:
      - ./:/app
    working_dir: /app
    restart: unless-stopped
